<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime  maxRequestLength="65536" requestLengthDiskThreshold="24576" executionTimeout="3600"   targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCF.Logistica.Services.Autenticacion">
        <endpoint name="WcfJsonService"
                  address=""
                  binding="webHttpBinding"
                  behaviorConfiguration="json"
                  contract="WCF.Logistica.Services.IAutenticacion"/>
      </service>
      <service name="WCF.Logistica.Services.Rendiciones">
        <endpoint name="WcfJsonService"
                  address=""
                  binding="webHttpBinding"
                  behaviorConfiguration="json"
                  contract="WCF.Logistica.Services.IRendiciones"/>
      </service>
      <service name="WCF.Logistica.Services.FuenteDatos">
        <endpoint name="WcfJsonService"
                  address=""
                  binding="webHttpBinding"
                  behaviorConfiguration="json"
                  contract="WCF.Logistica.Services.IFuenteDatos"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647" >
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"  />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
